### **PYTHON BASICS FOR DATA SCIENCE**
 Nagendrababu A

# Arithmetic Operators

In [ ]:
a=10
b=2
print(f"a+b:",{a+b}) #12
print(f"a-b:",{a-b}) #8
print(f"b**2",{b**2})#4
print(f"a*b:",{a*b})#20
print(f"a/b:",{a/b})#5
print(f"a//b:",{a//b})#5
print(f"a%b:",{a%b})

a+b: {12}
a-b: {8}
b**2 {4}
a*b: {20}
a/b: {5.0}
a//b: {5}
a%b: {0}

In [ ]:
print(10%2)#0
print(15%6)#3
print(24%7)#3
print(25%4)#1
print(42%8)#2

0
3
3
1
2

# Comparison Operator

In [ ]:
2>3

False

In [ ]:
3>2

True

In [ ]:
print(10>5)#true
print(4>2)#true
print("babu" > "babn")#true
print("a" > "z")#false
print("z"<"a")#false
print(0>1)#false
print(2 >= 4)#false
print(4<=5)#true
print(44 != 22)#true

True
True
True
False
False
False
False
True
True

# Logical Operator

In [ ]:
print(2<1 or 2>1) #this returns one statement is true
print(4<5 and 4==4) #this returns wen both statement is true
print("----> WOW AMAZING PYTHON CODE TO LEARN VERY INTERSTING LETS SEE NEXT STEPS <----")

True
True
----> WOW AMAZING PYTHON CODE TO LEARN VERY INTERSTING LETS SEE NEXT STEPS <----

# Input and Output in Python

In [ ]:
age=input("what is your age? \n")

what is your age?
23

In [ ]:
type(age)

str

In [ ]:
x = 36 / 4 * (3 + 2) * 4 + 2 #8*5*4+2
print(x)

182.0

In [ ]:
36/4

9.0

In [ ]:
45*4

180

In [ ]:
2*2**3

16

In [ ]:
a=5
b=16
print(a+b)

21

# Data Structures & Data Types in Python

In [ ]:
a=5
type(a)

int

In [ ]:
b=2.5
type(b)

float

In [ ]:
c="hello world"
type(c)

str

In [ ]:
d=True
type(d)

bool

In [ ]:
a="hello world"
print(a[0])

h

In [ ]:
b="nagendrababu"
print(b[4:5])

n

In [ ]:
#string concatenation
a="ab"+ 'cd'
a

'abcd'

In [ ]:
x="my name is "
y="nagendra"
print(x+"---> " +y)

my name is ---> nagendra

In [ ]:
a="NAGENDRABABU"
print(len(a))

12

In [ ]:
txt = "She said \"Never let go\"."
print(txt)

She said "Never let go".

In [ ]:
txt="as iam nagendra @ babu ! iam # nagndra"
print(txt)

as iam nagendra @ babu ! iam # nagndra

In [ ]:
name="babu, malli, chandra, "

In [ ]:
print('babu' in name)
print('c' in name)
print('y'in name)
print('a' in name)

True
True
False
True

In [ ]:
str="babu"
for letter in str:
  print(letter)

b
a
b
u

In [ ]:
length=len("hello")
length

5

In [ ]:
color=["red","white","blue","green"]
print(len(color))

4

In [ ]:
msg="iam {} from {}"
msg.format("nagendra","bellary")

'iam nagendra from bellary'

In [ ]:
msg3="i want speak {}"
msg3.format("her")

'i want speak her'

In [ ]:
name='   welcome to the python'
print(name.lower())
print(name.upper())
print(name.strip())
print(name.title())

   welcome to the python
   WELCOME TO THE PYTHON
welcome to the python
   Welcome To The Python

In [ ]:
message='   wt is meant by strip    '
print(message)
print(message.strip())

   wt is meant by strip
wt is meant by strip

In [ ]:
text2='....+....babu....-....'
text2.strip('+--')

'....+....babu....-....'

In [ ]:
x="The string method .split() splits a string into a list of items:"
for letter in x.split():
  if len(letter)%2 ==0:
    print(f"even {letter}")
  else:
    pass

even string
even method
even .split()
even splits
even string
even into
even list
even of
even items:

# **List Methods**

In [8]:
order=["mango","banana","apple"]
order.append("grapes")
print(order)
print(order.pop())
print(order.count("mango"))
print(len(order))
print(order.sort())

['mango', 'banana', 'apple', 'grapes']
grapes
1
3
None

In [9]:
l2=([4,3,2,1])
l2.sort()
print(l2)

[1, 2, 3, 4]

In [15]:
tup = (4, 5, 6, 7, 8)
tup[2] = 10
print(tup[2])

TypeError: ignored

In [1]:
num=[1,2,3]

In [2]:
num.append(10)

In [3]:
num

[1, 2, 3, 10]

In [5]:
num.count(1)

1

In [9]:
num=list(range(1,11))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
num=([3,2,1,4,5,6,7,8,9,5,2,1,4,5,6,3,2,1,5])
num.sort()
print("sort func:",num)
print("*"*50)
print("count func:",num.count(1))
print("len func:",len(num))
print("append func:",num.append(10))
print("="*50)

sort func: [1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5, 5, 6, 6, 7, 8, 9]
**************************************************
count func: 3
len func: 19
append func: None
==================================================

In [28]:
t = (4, 4, 5, 3, 4, 2, 5, 6)
print(t.count(4))
print(len(t))
print(length(t))

3
8

NameError: ignored

In [36]:
my_dict={
    "name":"Nagendrababu",
    "age":23,
    "study":"BE(mech.",
    "sex":"male"
}
name=my_dict.copy()
print(name)

{'name': 'Nagendrababu', 'age': 23, 'study': 'BE(mech.', 'sex': 'male'}

In [41]:
d={}
d["babu"]=23
d["jai"]=22
d["dady"]=40
d["mom"]=42
print(d)

{'babu': 23, 'jai': 22, 'dady': 40, 'mom': 42}

In [43]:

for key,value in d.items():
  print("key")
  print(key)
  print("value")
  print(value)
  print("*"*10)

key
babu
value
23
**********
key
jai
value
22
**********
key
dady
value
40
**********
key
mom
value
42
**********

In [48]:
name="nagendra"
print(type(name))
x=("nagendra")
print(type(x))
y=["nagendra"]
print(type(y))

<class 'str'>
<class 'str'>
<class 'list'>

In [50]:
a=("naga","babu")
print(type(a))

<class 'tuple'>

In [51]:
a=("babu")
print(type(a))

<class 'str'>

In [52]:
lst = [3,4,6,1,2]
lst[1:2] = [7,8]
print(lst)

[3, 7, 8, 6, 1, 2]

In [53]:
l=[1,2,3]
l[1:2]=[5,4]
l

[1, 5, 4, 3]

In [55]:
l=[0,1,2,3,4,5,6]
l[0:5]=[1,1]
print(l)

[1, 1, 5, 6]

In [57]:
l=[1,2,3]*3
l

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [59]:
l=(1,2,3)*3
l

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [61]:
l=[]*3
l

[]

# **Functions**

In [1]:
print("iam good boy take care")

iam good boy take care

In [2]:
input("oye who iam")

oye who iambabu

'babu'

In [20]:
x=([1,2,3,4,5,6])
print("")

print(".max func=",   max(x))
print(".len func=",len(x))
print(".min func=",min(x))
print(".sort func=",sorted(x, reverse=True))
print(".round func=",round(2.68,1))
print("")

.max func= 6
.len func= 6
.min func= 1
.sort func= [6, 5, 4, 3, 2, 1]
.round func= 2.7

In [27]:
round(1.96,1)

2.0

In [41]:
print(round(1.99))
print(round(1.96,1))
print(round(1.68,1))

2
2.0
1.7

In [44]:
x=([1,2,3,4,5,6])
print(sum(x))

21

In [46]:
 L1 = [10, 20, 30, 25, 32, 45, 50] 
 L2 = [80, 70, 78, 55, 62]
 print(sum(L1+L2))

557

In [49]:
L1 = [10, 20, 30, 25, 32, 45, 50] 
L2 = [80, 70, 78, 55, 62]
s1=L1.copy()
s2=L2.copy()
print(sum(s1)-sum(s2))

-133

In [50]:
x="abcdef"
x.capitalize()

'Abcdef'

In [52]:
x.replace('a',"Nagenraabu ")

'Nagenraabu bcdef'

In [53]:
dir(math)

NameError: ignored

In [54]:
import math

In [55]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [56]:
import calendar

In [59]:
cal=calendar.month(1999,4)
print(cal)

     April 1999
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [66]:
def func():
  print("babu")
func()

babu

In [68]:
def x():
  print("ba")
x()

ba

In [71]:
def x(num1,num2):
  num3=num1+num2
  return(f"wen add these two {num1} and {num2} result is {num3}")
x(4,5)

'wen add these two 4 and 5 result is 9'

In [78]:
num=([1,2,3,4,5,6])
n=map(lambda x: x*2,num)
list(n)

[2, 4, 6, 8, 10, 12]

In [80]:
num=[10,20,30,40,50]
res=map(lambda abd: abd+2,num)
list(res)

[12, 22, 32, 42, 52]

In [82]:
num=[1,2,3,4,5,6]
print(sum(num,1))

22

In [91]:
x=[1,0,2,0,3,0,4,0,5,0]
y=sum(x)
y**2

225

In [98]:
class car(object):
  def my_method(self):
    print("I am a Swift Dzire 900")
    maruti = car()
    maruti.my_method()

In [100]:
import numpy

In [105]:
def say(x,y=1):
  print(x*y)
say("hello")
say("world",5)

hello
worldworldworldworldworld